.login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("../../assets/background-login.jpg");
    background-size: cover;
}

.login-box {
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 300px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.login-button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #745da4;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.login-button:hover {
    background-color: #d13ad0;
}

.signup-prompt {
    margin-top: 15px;
    text-align: center;
}

.signup-prompt a {
    color: #d13ad0;
    text-decoration: none;
}

.signup-prompt a:hover {
    text-decoration: underline;
}